<html>
    <head>
        <title>Autocomplete Bundle Test</title>
    </head>
    <body>
        {% if selected is defined %}
            Selected {{ selected.normData.name }}
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form.test) }}
        {{ form_errors(form.test) }}
        <button>Submit</button>
        {{ form_end(form) }}
    </body>
</html>